<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add question</h2>

<form action="/action_page.php">
    <input type="text"  name="question" placeholder="Question"><br>
    <input type="text"  name="answerA"  placeholder="answerA" ><br>
    <input type="text"  name="answerB"  placeholder="answerB" ><br>
    <input type="text"  name="answerC"  placeholder="answerC"><br>
    <input type="text"  name="answerD"  placeholder="answerD"><br>
    <label for="correct">Choose correct answer</label>
    <select name="correct" id="correct">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>